/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### React ###
src/main/resources/antd/node_modules

### Front End ###
src/main/resources/static/index.*.css
src/main/resources/static/index.*.js
src/main/resources/static/index.html
src/main/resources/static/favicon.png